.errorMsg {
    color: red;
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
}

.successMsg {
    color: green;
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
}

.navbar-expand .navbar-nav > li.dropdown:hover > a,
.navbar-expand .navbar-nav > li.dropdown:hover > a:hover,
.navbar-expand .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}